/* Body Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #ffffff, #f0f0f0); /* Gradient Background */
}

/* Form Container Styles */
#student-form {
  max-width: 500px;
  margin: 50px auto;
  background-image: linear-gradient(to bottom, #4c45a3, #6e77ee); /* Gradient Background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(26, 25, 25, 0.1);
}

/* Form Label Styles */
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold; /* Make labels bold */
}

/* Form Input Styles */
input[type="text"],
input[type="number"],
input[type="date"],
select,
button,
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Flex container for radio buttons and checkboxes */
.radio-group,
.checkbox-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.radio-group label,
.checkbox-group label {
  display: flex;
  align-items: center;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

/* Form Submit Button Styles */
button {
  background-color: #4c45a3; /* Button color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

/* Table Styles */
.data-table {
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-table th {
  background-color: #4c45a3;
  color: white;
}

.data-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table tr:hover {
  background-color: #ddd;
}

.data-table td {
  text-align: left;
}

.data-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
